---
import Section from '../layouts/Section.tsx';
import ServiciosAnimados from './ServiciosAnimados';
---

<Section id="services" title="NUESTROS SERVICIOS">
  <ServiciosAnimados client:visible/>
</Section>
